body, html {
  height: 95%;
  background-color: black;
}


.header{
    background-color: black;
    width: 100%;
    height: 10%;
    font-size: 22px;
}

.header ul{
    display: flex;
    justify-content: center;
}

.header ul li {
    padding: 1.5%;
    color: white;
}

.header ul li a {
    color: white;
}

h2 {
    font-size: 22px;
    margin: 5%;
    color: yellow;
}

.bg-image {
    background-image: url("../img/nika.jpg");
    filter: blur(16px);
    -webkit-filter: blur(16px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  border: 4px solid white;
  position: absolute;
  top: 82%;
  left: 22%;
  transform: translate(-50%, -50%);
  z-index: 4;
  width: 40%;
  text-align: center;
}

.video{
    padding-top: 56.25%;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.responsive-iframe{
    position: absolute;
    top: 15%;
    left: 15%;
    bottom: 15%;
    right: 15%;
    width: 70%;
    height: 70%;
}


.thumb{
    margin: 1%;
    width: 5%;
    height: 40px;
}

.thumb:hover{
  border: 5px solid red;
}

.image{
    margin: 2px;
    height: auto;
    width: 85%;
}

.photos{
    background-color: black;
    height: 740px;
}

.cv_img{
    margin-top: 10px;
    background-color: black;
    width: 25%;
    float: left;
}

.cv_img img{
    margin: 2%;
    padding: 5%;
    width: 90%;
}

.cv_list{
    background-color: black;
    column-count: 2;
    column-gap: 0;
    column-rule-style: solid;
}

.cv_list ul{
    background-color: black;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
    list-style-type: disc;
    padding-left: 3%;
    padding-right: 3%;
}

.cv_list ul li{
    color: yellow;
    padding-top: 4%;
}


.cv_list ul ul{
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: normal;
    list-style-type: none;
    float: none;
}

.cv_list ul ul li{
    color: white;
    padding-top: 10px;
}

.contact_list ul{
    padding-left: 1%;
    font-size: 20px;
    font-weight: bold;
    list-style-type: none;
}

.contact_list ul li{
    color: white;
}

.contact_list ul img{
    width: 1.4%;
    padding: 1px;
    background-color: white;
}

.contact_list ul li a{
    color: white;
}

textarea{
    margin-bottom: 2%;
    padding: 2%;
    width: 50%;
    height: 100px;
}

input:focus,
textarea:focus {
    outline: none;
}

input{
    width: 50%;
    height: 30px;
}


input::placeholder {
    color: black;
    font-size: 16px;
    text-transform: lowercase;
}
.mymenu{
    padding-top: 3px;
    padding-left: 2%;
    width: 100%;
}

.mymenu ul{
    text-indent: -25%;
    font-size: 16px;
}

.mymenu ul li{
    color: white;
}


label{
  color: white;
  font-size: 16px;
  cursor: pointer;
  display:inline-block;
  padding-top: 2px;
  padding-bottom: 5px;
}

.mygrade option{
    width=500px;
}

.button{
    width: 50%;
    height: 40px;
    background-color: green;
    color: white;
    font-size: 22px;
    margin-left: 2%;
    margin-top: 10px;
}

.about{
    width: 100%;
    font-size: 20px;
    font-family: "BPG Banner", sans-serif;
    padding: 40px;
}
.about p{
    color: white;
    margin: 20px;
    line-height: 1.4;
    text-align: center;
}

.about p a{
    color: yellow;
}
